h3, ul {
    vertical-align: middle !important;
    text-align: center !important;
}

img {
    height: 150px;
    width: auto;
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.container {
    padding-top: 30px;
    padding-bottom: 30px;
}

