h3, ul {
    vertical-align: middle !important;
    text-align: center !important;
}

#logo {
    height: 150px;
    width: auto;
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.container {
    padding-top: 30px;
    padding-bottom: 30px;
}

#picture {
    display: block;
    margin: auto;
    padding: 20px;
}

#movie {
    vertical-align: middle !important;
    text-align: center !important;
}